html.dark {
  --md-sys-color-primary: rgb(191 194 255);
  --md-sys-color-surface-tint: rgb(191 194 255);
  --md-sys-color-on-primary: rgb(39 43 96);
  --md-sys-color-primary-container: rgb(62 66 120);
  --md-sys-color-on-primary-container: rgb(224 224 255);
  --md-sys-color-secondary: rgb(197 196 221);
  --md-sys-color-on-secondary: rgb(46 47 66);
  --md-sys-color-secondary-container: rgb(68 69 89);
  --md-sys-color-on-secondary-container: rgb(225 224 249);
  --md-sys-color-tertiary: rgb(232 185 212);
  --md-sys-color-on-tertiary: rgb(70 38 59);
  --md-sys-color-tertiary-container: rgb(94 60 82);
  --md-sys-color-on-tertiary-container: rgb(255 216 237);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(228 225 233);
  --md-sys-color-surface-variant: rgb(70 70 79);
  --md-sys-color-on-surface-variant: rgb(199 197 208);
  --md-sys-color-outline: rgb(145 143 154);
  --md-sys-color-outline-variant: rgb(70 70 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(48 48 54);
  --md-sys-color-inverse-primary: rgb(86 89 146);
  --md-sys-color-primary-fixed: rgb(224 224 255);
  --md-sys-color-on-primary-fixed: rgb(17 20 75);
  --md-sys-color-primary-fixed-dim: rgb(191 194 255);
  --md-sys-color-on-primary-fixed-variant: rgb(62 66 120);
  --md-sys-color-secondary-fixed: rgb(225 224 249);
  --md-sys-color-on-secondary-fixed: rgb(25 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(197 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 216 237);
  --md-sys-color-on-tertiary-fixed: rgb(46 17 38);
  --md-sys-color-tertiary-fixed-dim: rgb(232 185 212);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 60 82);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(57 57 63);
  --md-sys-color-surface-container-lowest: rgb(14 14 19);
  --md-sys-color-surface-container-low: rgb(27 27 33);
  --md-sys-color-surface-container: rgb(31 31 37);
  --md-sys-color-surface-container-high: rgb(42 41 47);
  --md-sys-color-surface-container-highest: rgb(53 52 58);
  --md-extended-color-red-tag-color: rgb(255 179 180);
  --md-extended-color-red-tag-on-color: rgb(86 29 33);
  --md-extended-color-red-tag-color-container: rgb(115 51 54);
  --md-extended-color-red-tag-on-color-container: rgb(255 218 217);
  --md-extended-color-purple-tag-color: rgb(252 176 213);
  --md-extended-color-purple-tag-on-color: rgb(82 29 60);
  --md-extended-color-purple-tag-color-container: rgb(108 51 83);
  --md-extended-color-purple-tag-on-color-container: rgb(255 216 232);
  --md-extended-color-blue-tag-color: rgb(156 203 251);
  --md-extended-color-blue-tag-on-color: rgb(0 51 84);
  --md-extended-color-blue-tag-color-container: rgb(17 74 115);
  --md-extended-color-blue-tag-on-color-container: rgb(207 229 255);
  --md-extended-color-yellow-tag-color: rgb(221 197 110);
  --md-extended-color-yellow-tag-on-color: rgb(59 48 0);
  --md-extended-color-yellow-tag-color-container: rgb(85 70 0);
  --md-extended-color-yellow-tag-on-color-container: rgb(251 225 135);
  --md-extended-color-orange-tag-color: rgb(243 189 110);
  --md-extended-color-orange-tag-on-color: rgb(68 43 0);
  --md-extended-color-orange-tag-color-container: rgb(98 64 0);
  --md-extended-color-orange-tag-on-color-container: rgb(255 221 177);
}
