@import "tailwindcss";
@import "tw-animate-css";
@import "./themes/light.css";
@import "./themes/dark.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --toastify-color-progress-light: linear-gradient(to right, #facc15, #f97316);
}

@theme  {
  --color-mint-500: oklch(0.72 0.11 178);

  --color-primary-hard: oklch(0.45 0.312669 264.3817);
  --color-primary: var(--md-sys-color-primary);
  --color-on-primary: var(--md-sys-color-on-primary);
  --color-primary-container: var(--md-sys-color-primary-container);
  --color-on-primary-container: var(--md-sys-color-on-primary-container);

  --color-secondary: var(--md-sys-color-secondary);
  --color-on-secondary: var(--md-sys-color-on-secondary);
  --color-secondary-container: var(--md-sys-color-secondary-container);
  --color-on-secondary-container: var(--md-sys-color-on-secondary-container);

  --color-tertiary: var(--md-sys-color-tertiary);
  --color-on-tertiary: var(--md-sys-color-on-tertiary);
  --color-tertiary-container: var(--md-sys-color-tertiary-container);
  --color-on-tertiary-container: var(--md-sys-color-on-tertiary-container);

  --color-background: var(--md-sys-color-background);
  --color-on-background: var(--md-sys-color-on-background);

  --color-surface: var(--md-sys-color-surface);
  --color-on-surface: var(--md-sys-color-on-surface);
  --color-surface-variant: var(--md-sys-color-surface-variant);
  --color-on-surface-variant: var(--md-sys-color-on-surface-variant);

  --color-error: var(--md-sys-color-error);
  --color-on-error: var(--md-sys-color-on-error);
  --color-error-container: var(--md-sys-color-error-container);
  --color-on-error-container: var(--md-sys-color-on-error-container);

  --color-outline: var(--md-sys-color-outline);
  --color-outline-variant: var(--md-sys-color-outline-variant);

  --color-shadow: var(--md-sys-color-shadow);
  --color-scrim: var(--md-sys-color-scrim);

  --color-inverse-surface: var(--md-sys-color-inverse-surface);
  --color-inverse-on-surface: var(--md-sys-color-inverse-on-surface);
  --color-inverse-primary: var(--md-sys-color-inverse-primary);

  --color-surface-tint: var(--md-sys-color-surface-tint);

  /* Optional: fixed and dim variants */
  --color-primary-fixed: var(--md-sys-color-primary-fixed);
  --color-on-primary-fixed: var(--md-sys-color-on-primary-fixed);
  --color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant);

  --color-secondary-fixed: var(--md-sys-color-secondary-fixed);
  --color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed);
  --color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim);
  --color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant);

  --color-tertiary-fixed: var(--md-sys-color-tertiary-fixed);
  --color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim);
  --color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant);

  --color-surface-dim: var(--md-sys-color-surface-dim);
  --color-surface-bright: var(--md-sys-color-surface-bright);
  --color-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
  --color-surface-container-low: var(--md-sys-color-surface-container-low);
  --color-surface-container: var(--md-sys-color-surface-container);
  --color-surface-container-high: var(--md-sys-color-surface-container-high);
  --color-surface-container-highest: var(--md-sys-color-surface-container-highest);
  

  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;

  
}

.bn-container[data-theming-css-variables-demo][data-color-scheme] {
  --bn-colors-editor-text: #3f3f3f;
  --bn-colors-editor-background: #ffffff;
  --bn-colors-menu-text: #3f3f3f;
  --bn-colors-menu-background: #ffffff;
  --bn-colors-tooltip-text: #3f3f3f;
  --bn-colors-tooltip-background: #efefef;
  --bn-colors-hovered-text: #3f3f3f;
  --bn-colors-hovered-background: #efefef;
  --bn-colors-selected-text: #ffffff;
  --bn-colors-selected-background: #3f3f3f;
  --bn-colors-disabled-text: #afafaf;
  --bn-colors-disabled-background: #efefef;

  --bn-colors-shadow: #cfcfcf;
  --bn-colors-border: #efefef;
  --bn-colors-side-menu: #cfcfcf;

  --bn-colors-highlights-gray-text: #9b9a97;
  --bn-colors-highlights-gray-background: #ebeced;
  --bn-colors-highlights-brown-text: #64473a;
  --bn-colors-highlights-brown-background: #e9e5e3;
  --bn-colors-highlights-red-text: #e03e3e;
  --bn-colors-highlights-red-background: #fbe4e4;
  --bn-colors-highlights-orange-text: #d9730d;
  --bn-colors-highlights-orange-background: #f6e9d9;
  --bn-colors-highlights-yellow-text: #dfab01;
  --bn-colors-highlights-yellow-background: #fbf3db;
  --bn-colors-highlights-green-text: #4d6461;
  --bn-colors-highlights-green-background: #ddedea;
  --bn-colors-highlights-blue-text: #0b6e99;
  --bn-colors-highlights-blue-background: #ddebf1;
  --bn-colors-highlights-purple-text: #6940a5;
  --bn-colors-highlights-purple-background: #eae4f2;
  --bn-colors-highlights-pink-text: #ad1a72;
  --bn-colors-highlights-pink-background: #f4dfeb;

  --bn-font-family: "Inter", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Open Sans",
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
  --bn-border-radius: 3px;

  

}

/* .bn-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
}

.bn-formatting-toolbar {
  width: 100%;
  position: sticky;
  top: 55px;
  background: white; 
  z-index: 2;
  margin-inline: auto; 
  animation: slideUpFadeIn 0.3s ease-out;
}

.bn-mantine .bn-formatting-toolbar {
  flex-wrap: wrap !important;
  gap:2px;
  padding:2px;
  width: fit-content;
  overflow-x: auto;
  max-width: 100vw !important;
  box-shadow: none !important;
} */



@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}



@layer base {
  body {
    @apply bg-background;
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
 
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.slide-in-blurred-bottom{animation:slide-in-blurred-bottom .6s cubic-bezier(.23,1.000,.32,1.000) both}
/* ----------------------------------------------
 * Generated by Animista on 2025-5-4 19:44:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-blurred-bottom{0%{transform:translateY(1000px) scaleY(2.5) scaleX(.2);transform-origin:50% 100%;filter:blur(40px);opacity:0}100%{transform:translateY(0) scaleY(1) scaleX(1);transform-origin:50% 50%;filter:blur(0);opacity:1}}


.slide-out-blurred-bottom{animation:slide-out-blurred-bottom .45s cubic-bezier(.755,.05,.855,.06) both}

/* ----------------------------------------------
 * Generated by Animista on 2025-5-4 19:44:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes slide-out-blurred-bottom{0%{transform:translateY(0) scaleY(1) scaleX(1);transform-origin:50% 50%;filter:blur(0);opacity:1}100%{transform:translateY(1000px) scaleY(2) scaleX(.2);transform-origin:50% 100%;filter:blur(40px);opacity:0}}



@keyframes progress-pulse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-progress-pulse {
  animation: progress-pulse 2s ease-in-out infinite;
}

@keyframes grow-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-grow-bar {
  animation: grow-bar 2s ease-in-out forwards;
}

@keyframes flashHighlight {
  0% { background-color: yellow; }
  100% { background-color: transparent; }
}

.block-highlight {
  animation: flashHighlight 2s ease-out;
  background-color: !!yellow
}
